<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pwd.mysql.rw.MemberMapper">
  <!-- selectAll -->
  <select id="selectAll" resultType="pwd.mysql.rw.Member">
    select
    `id`,
    `name`
    from member
  </select>

  <!-- insert -->
  <insert id="insert" parameterType="pwd.mysql.rw.Member">
    INSERT INTO member(name) values (#{member.name})
  </insert>

</mapper>
